.footer {
    background-color: var(--color-dark);
    font-family: var(--font-family-base);
    font-weight: 400;
    font-size: 22px;
    color: var(--color-dark)
}

.footer-main-inner {
    padding-top: 22px;
    padding-bottom: 56px;
}

.footer-header {
    display: flex;
    align-items: center;
    column-gap: 78px;
}

.footer-logo {
    flex-shrink: 0;
}

.footer-menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 55px;
}

.footer-menu-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: var(--color-light);
}

.footer-menu-link:hover {
    color: var(--color-orange)
}

.footer-body {
    margin-top: 47px;
    display: flex;
    justify-content: space-between;
    color: var(--color-light);
    font-size: 24px;
}

.footer-karpov-link {
    font-weight: 700;
    color: var(--color-orange)
}

.footer-copyright {
    color: var(--color-light-grey);
    margin-top: 24px;
}

@media (max-width: 1570px) {
    .footer {
        padding-inline: 100px;
    }
    .footer-header {
        justify-content: space-around;
        margin-inline: 50px;
    }
    .footer-body {
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {

    .footer-header {
        flex-direction: column;
        align-items: baseline;
        row-gap: 30px;
        margin-inline: 0;
    }

    .footer-copyright {
        white-space: nowrap
    }

    .footer-menu-list {
        column-gap: 20px;}
}